*{
    *{
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
    }
}
header{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.carousel-caption{
    padding-bottom: 4.0rem;


}
body{
    background-color: rgb(121, 21, 91);
}
footer{
    background-color: black;
    color: rgb(194, 51, 115);
    
}
.card{
    background-color: black;
    color: rgb(194, 51, 115);
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.btn{
    background-color: rgb(121, 21, 91);
    border: 1px solid rgba(245, 221, 221, 0.986);
    color: rgba(245, 221, 221, 0.986);
    
}
.detail-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.detail-btn>btn{
    align-self: end;
}

.nav1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  
}
.nav-link{
    color: rgb(194, 51, 115);
    border: 1px solid rgb(194, 51, 115);
    padding: 2px;
}
.nav-link.active{
    color: rgb(194, 51, 115);
}
.navbar-nav .nav-link.active{
    background-color: rgb(194, 51, 115);
    color: black;
}

#amazing_logo{
    height: 5vw;
}
.carousel-item{
    height: 35vh;
    /* opacity: 75%; */
    /* filter: brightness(20%); */
}
.d-block{
    filter: brightness(50%);
}
.carousel-caption>h1{
    color: rgba(245, 221, 221, 0.986);
}
#categories_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
}
.categories_fill{
    border: 1px solid rgba(245, 221, 221, 0.986);
    padding: 2px;
}
.categories_fill>input, label{
    padding: 3px;
}
.card-body{
    text-align: center;
}
#cards_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    padding: 10px; 
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#btn_fill:hover{
    background-color: rgba(245, 221, 221, 0.986);
    color: rgb(121, 21, 91);
}

/* Formulario Contact */
.form_contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.form_message{
    height: 15vh;
}
.form-label{
    color: rgba(245, 221, 221, 0.986);
}

/* Tables stats */
.tables_stats{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
}
.table_divs{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid rgba(8, 8, 8, 0.781);
    padding: 0px;
}
.tt_stats{
    background-color: rgba(128, 128, 128, 0.705);
    color:  rgba(245, 221, 221, 0.986);
    margin-bottom: 0;
}
.table{
    margin-bottom: 0;
}