* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 7, 7);
}

.carousel-caption {
    padding-bottom: 4.0rem;


}

body {
    background-color: rgb(121, 21, 91);
}

footer {
    background-color: rgb(8, 7, 7);
    color: rgb(194, 51, 115);

}

.card {
    background-color: rgb(8, 7, 7);
    color: rgb(194, 51, 115);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btn {
    background-color: rgb(121, 21, 91);
    border: 1px solid rgba(245, 221, 221, 0.986);
    color: rgba(245, 221, 221, 0.986);

}

.detail-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.detail-btn>btn {
    align-self: end;
}

.nav1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.nav-link {
    color: rgb(194, 51, 115);
    border: 1px solid rgb(194, 51, 115);
    padding: 2px;
}

.nav-link.active {
    color: rgb(194, 51, 115);
}

.navbar-nav .nav-link.active {
    background-color: rgb(194, 51, 115);
    color: black;
}

.navbar>.container-fluid {
    justify-content: flex-end;
}

#amazing_logo {
    height: 5vw;
}

.carousel-item {
    height: 35vh;
}

.img-carousel {
    height: 35vh;
    object-fit: cover;
}

.d-block {
    filter: brightness(60%);
}

.carousel-caption>h1 {
    color: rgba(245, 221, 221, 0.986);
}

#categories_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px;
}

.categories_fill {
    border: 1px solid rgba(245, 221, 221, 0.986);
    padding: 2px;
}

.categories_fill>input,
label {
    padding: 3px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#cards_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 10px;
}

.card-img-top {
    height: 12rem;
    object-fit: cover;
}

/* Fondo animado cards*/
._fondo:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.801);
    background: rgba(245, 221, 221, 0.986);
    z-index: 1;
    transition:0.8s;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#btn_fill:hover {
    background-color: rgba(245, 221, 221, 0.986);
    color: rgb(121, 21, 91);
    border-color: rgb(121, 21, 91);
}

.btn-detail:hover {
    background-color: rgba(245, 221, 221, 0.986);
    color: rgb(121, 21, 91);
}

/* Formulario Contact */
.form_contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form_message {
    height: 15vh;
}

.form-label {
    color: rgba(245, 221, 221, 0.986);
}

/* Tables stats */
.tables_stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.table_divs {
    display: flex;
    flex-flow: column wrap;
    border: 1px solid rgba(8, 8, 8, 0.781);
    padding: 0px;
}

.tt_stats {
    background-color: rgba(128, 128, 128, 0.705);
    color: rgba(245, 221, 221, 0.986);
    margin-bottom: 0;
}

.table {
    margin-bottom: 0;
    caption-side: top;
}

caption {
    padding-top: 0;
    padding-bottom: 0;
    color: var(--bs-secondary-color);
    text-align: left;
}


/* Details */
.detail_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Breakpoint 425px */
@media only screen and (max-width:425px) {
    #amazing_logo {
        width: 30vw;
        height: 10vh;
        padding: 3px;
    }

    .categories_fill {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    #categories_div {
        align-items: center;
        margin-top: 5px;

    }


}